

body{
  background-color: rgb(219, 228, 236);
  font-family: 'sahel';
}

.inpt-search::placeholder{
  color: rgb(221, 221, 221);
  font-size: 13px;
}
.itemsMenu{
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 2px 7px;
  cursor: pointer;
  font-size: 1.5rem;
}
.itemsMenu:hover{
  color: white;
  border-radius: 16px;
  width: 100%;
}

.sidebox:hover{
  width: 360px;
}

.itemTitle{
  display: none;
}

.sidebox:hover .itemTitle{
display: inline;
}

.sidebox:hover .itemsMenu{
  font-size: 1.2rem;
}

.sidebox:hover .imgAvatar{
  
    width: 5rem;
    height: 5rem;
}

.sidebox:hover .logoImg{
  
    width: 6.5rem;
}

 .activeItem{
  background-color: rgb(153, 0, 255);
  color: white;
  width: 100%;
  border-radius: 16px;
  padding: 6px;

 }
