@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face{
        font-family: 'sahel';
        src: url('../public/fonts/Sahel.woff2');
    }
    @font-face{
        font-family: 'sahel-bold';
        src: url('../public/fonts/Sahel-Black.woff2');
    }
}